
 <div>
    <h1>
        
        <img src="{{ 'mustard-yellow-designify.png' | asset_url }}" loading="lazy" width="200" height="200" /> 
        <span>WINDSOR ORGANICS</span>
    </h1>
</div> 


{% schema %}

{ "name":"Hero",
    "presets":[
        {
            "name":"Hero"
        }

    ]
}

    {% endschema %}