{{ 'instagram.css' | asset_url | stylesheet_tag }}
<h1>instagram</h1>

{% schema %}

{ "name":"Instagram",
    "presets":[
        {
            "name":"Instagram"
        }

    ]
}

    {% endschema %}