:root{
  --colorBtnPrimary: #111111;
      --colorBtnPrimaryDim: #040404;
      --colorBtnPrimaryText: #ffffff;
      --colorCartDot: #ff4f33;
      --colorLink: #1c1d1d;
      --colorTextBody: #1c1d1d;
      --colorSalePrice: #1c1d1d;
      --colorSaleTag: #1c1d1d;
      --colorSaleTagText: #ffffff;
      --colorBody: #ffffff;
      --colorBodyDim: #f2f2f2;
      --colorInputBg: #ffffff;
      --colorInputBgDim: #f2f2f2;
      --colorInputBgDark: #e6e6e6;
      --colorInputText: #1c1d1d;
      --colorFooter: #111111;
      --colorFooterText: #ffffff;
      --colorBorder: #e8e8e1;
      --colorNav: #ffffff;
      --colorNavText: #1c1d1d;
      --colorAnnouncement: #1c1d1d;
      --colorAnnouncementText: #ffffff;
      --colorHeroText: #ffffff;
      --colorModalBg: #000000;
      --colorSmallImageBg: #ffffff;
      --colorLargeImageBg: #111111;
      --colorDrawers: #ffffff;
      --colorDrawersDim: #f2f2f2;
      --colorDrawerBorder: #e8e8e1;
      --colorDrawerText: #000000;
      --colorDrawerTextDarken: #000000;
      --colorDrawerButton: #111111;
      --colorDrawerButtonText: #ffffff;
  }




:root {
  --typeHeaderPrimary: Electra;
  --typeHeaderFallback: serif;
  --typeHeaderSize: 35px;
  --typeHeaderWeight: 400;
  --typeHeaderLineHeight: 1.2;
  --typeHeaderSpacing: 0.0em;
  --typeBasePrimary: Electra;
  --typeBaseFallback: serif;
  --typeBaseSize: 17px;
  --typeBaseWeight: 400;
  --typeBaseLineHeight: 1.6;
  --typeBaseSpacing: 0.025em;
  --iconWeight: 4px;
  --iconLinecaps: miter;}

.top-banner-section {
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 2;
  position: absolute;

 box-shadow: 20px;
 height:30em;
 align-items: start;

}

  .banner-text-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr .5fr;
    grid-template-areas: "banner-h1"
                         "banner-body"
                         "banner-button";
    
    margin-left: 0.9375em;
    margin-right: 0.9375em;
    z-index: 2;
    
  }

  .banner-h1-text {
    grid-area: banner-h1;
font-family:  var(--font-heading-family)var(
--typeHeaderFallback);
    font-size: calc(1.125em + 0.15vw);
    font-weight:900;
    letter-spacing: 0.05em;
    font-weight: bolder;
    text-transform: uppercase;
    /* color: rgb(173, 250, 141); */
    color:orange;
    background-image: url('yellow-header.png');
 
    z-index: 2;
 
   
    
    width:35rem;
    
  }
  
  .banner-body-text {
    grid-area: banner-body;
    font-family: var(--typeBasePrimary)var(--typeBaseFallback);
    font-size: calc(0.875em + 0.15vw);
    margin-top: 0.5em;
    color: rgb(19, 10, 10);
    text-decoration: none;
   
   
    
   
  }
    :hover {
      color: rgb(242, 176, 54);
    }
    :visited {
      color: rgb(88, 106, 65);
    }
    :active {
      color: rgb(185, 198, 35);
    }
  
  
  .banner-btn {
    grid-area:banner-button;
  
  
  }
  
  .banner-btn-item {
   
    font-size: calc(9pt + 0.15vw); 
    padding-top: calc(0.5em + 0.08vw);
    padding-bottom: calc(0.5em + 0.08vw);
    padding-left: calc(0.5em + 0.08vw);
    padding-right: calc(0.5em + 0.08vw);
    color: rgb(6, 93, 5);
    background-color: white;
    font-family:var(--font-heading-family);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid white;
  
  }
    :link {
      text-decoration: none;
    }
    :visited {
      text-decoration: none;
    }
  

   .overline-hero{
    text-decoration: overline;
   }


   @media screen and (min-width:320px){
 
    .banner-body-text{
      /* background-color: rgba(9, 7, 5, 0.653); */
     
    }
  
    
    }
    @media screen and (min-width:360px){
    
      
    }
    @media screen and (min-width:375px){
     .top-banner-section{
      margin-left:20%;
      margin-top:10%;
     }
    .banner-text-div{
      margin-top:40%;
    }
    .banner-h1-text{
      font-size:calc(2.125em + 0.15vw);
    }
    .banner-body-text{
      font-size: calc(.2rem + 2.5rem);
    }
      
  
      
    }
      
    
    @media screen and (min-width:412px){
        
      
    }
    @media screen and (min-width:600px){
        
      
    }
    @media screen and (min-width:768px){
        
      
    }
    @media screen and (max-width:768px){
      .top-banner-section {
        position:absolute;
        z-index: 1000;
       

      }
     
      
    }
    @media screen and (min-width:820px){
        
      
    }
    @media screen and (min-width:1024px){
        
      
    }
    @media screen and (min-width:1134px){
        
      
    }
    @media screen and (min-width:1280px){
      .banner-h1-text {
        font-size:calc(2.125em + 0.15vw);
        color:orange
      }
      .banner-body-text{
        font-size: calc(1rem + 2.5rem);
        background-color:rgba(130, 67, 4, 0.162);
   position:relative;
   bottom:1.4em;

      }
      .top-banner-section {
        margin-left:20%;
        margin-top:5%;
        justify-self: center;
      }
    }
    @media screen and (min-width:1920px){
        
      .top-banner-section {
        margin-left:20%;
        margin-top:5%;
      }
      .banner-btn{
        position:relative;
        bottom:7rem;
      }
    }
    @media screen and (max-width:1400px){
      .top-banner-section {
        margin-left:20%;
        margin-top:5%;
      }
    }