/* 

.hero-wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:16px 16px;
    min-width:12.4em;
    padding:15px;
    box-sizing: border-box;
    
   
}
.hero-container{
    display:flex;
    flex-wrap:wrap;
   align-content:center;
   justify-content: center;
    margin:16px 5px;
    padding:30px 0;
    width:20em; 
    max-width: 60%;
    max-height:40em;
   
    /* background-image:url('hero-image-windsor.png'); */
/* }
.img-hero{
    background-image:url('javier-kober-L5wFsLfp0GY-unsplash.jpg');
    width:27.9em;
    height:150rem;
    position:relative;
    justify-content: center;
bottom:30em;
opacity:0.8;
}   
.hero-h1{
    color:white;
    margin:16px 18px;
    min-width:10em;
    padding:30px 15px;
    padding-bottom:5rem;
    padding-left:6em;
    margin-bottom:1rem;
    box-sizing: content-box;
    position:relative;
 justify-self: center;
    top:25em;
    line-height: 1.9;;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
 
    
    z-index:2;
  


}
.shop-red{
    color:red;
    background-color: antiquewhite;
    padding:0 6px;
}
.hero-h5{
    position:relative;
    background-color:rgba(68, 64, 64, 0.347);
    color:white;
    right:2rem;
    top:12rem;
    font-size: 11px;
    width: fit-content;
    padding:0.2rem;
}
.h-btn{
    display:inline-block;
    margin:1rem;
    padding:0.5rem 1rem;
    position: relative;
    top: 3rem;
    left:5rem;
    justify-self: center;
    background-color: rgb(43, 226, 98);
    border:none;
 
  
}
button .h-btn{

} */ 


/*// Create three grid areas (boxes) that overlap each other, essentially creating three layers.
// Grid box 1 (layer 1): Image
// Grid box 2 (layer 2): Gradient overlay
// Grid box 3 (layer 3): Call to action text/content*/
.top-banner-section {
  display: block;
  align-content: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  margin-right:3rem;
left:-8rem;
 margin-top: 2rem;
}

  /* .banner-image-div {
    grid-area: 1 / 1 / 2 / 2;
  } 
  .banner-overlay-div {
    grid-area: 1 / 1 / 2 / 2;
  } 
  .banner-text-div {
    grid-area: 1 / 1 / 2 / 2;
  }  */

  /* .banner-image {
    display: grid;
    min-width: 350px; 
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */



  /* .banner-overlay-div {
    display: grid;
    max-width: 100%;
    background: black;
    background: linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.7777485994397759) 30%,
      rgba(255, 255, 255, 0) 100%
    );
  } */

  .banner-text-div {
    display: flex;
    align-items: center;
    height:fit-content;
    margin-left: 15px;
    margin-right: 15px;
    /* position:relative;
    right:3rem; */
    z-index: 2;
    
  }

  .banner-h1-text {
    font-family: 'Roboto', sans-serif;
    font-size: calc(18pt + 0.15vw);
    letter-spacing: 0.05em;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(18, 17, 17);
    PADDING-LEFT:6REM;
    margin-left:3em;
   
    
    width:35rem;
    
  }
  
  .banner-body-text {
    
    font-size: calc(14pt + 0.15vw);
    margin-top: 0.5em;
    color: rgb(31, 29, 29);
    text-decoration: none;
    PADDING-LEFT:8REM;
    margin-left:3em;
  }
    :hover {
      color: rgb(78, 141, 75);
    }
    :visited {
      color: rgb(100, 147, 42);
    }
    :active {
      color: rgb(185, 198, 35);
    }
  
  
  .banner-btn {
    margin-top: 1em;
    PADDING-LEFT:9REM;
  }
  
  .banner-btn-item {
    font-size: calc(9pt + 0.15vw); 
    padding-top: calc(0.5em + 0.08vw);
    padding-bottom: calc(0.5em + 0.08vw);
    padding-left: calc(0.5em + 0.08vw);
    padding-right: calc(0.5em + 0.08vw);
    color: rgb(6, 93, 5);
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid white;
    margin-left:10em;
  }
    :link {
      text-decoration: none;
    }
    :visited {
      text-decoration: none;
    }
  

   .overline-hero{
    text-decoration: overline;
   }


   @media screen and (min-width:320px){
   
    
    }
    @media screen and (min-width:360px){
        
      
    }
    @media screen and (min-width:375px){
        
        
      
    }
    @media screen and (min-width:412px){
        
      
    }
    @media screen and (min-width:600px){
        
      
    }
    @media screen and (min-width:768px){
        
      
    }
     
    @media screen and (min-width:1024px){
        
      
    }
    @media screen and (min-width:1134px){
        
      
    }
    @media screen and (min-width:1280px){
        
      
    }
    @media screen and (min-width:1920px){
        
      
    }